*{
  font-family: Arial, Helvetica, sans-serif;
}

html{
  height: 100vh;
  width: 100vw;
  background-color: rgb(2, 37, 154);
  margin: 0;
  padding: 0;
}

.frame{
  height: 96vh;
  width: 96vw;
  margin: auto;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.927);
  position: relative;
}

#logo{
  position: absolute;
  top: 30px;
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: rgb(2, 37, 154);
}

.profile{
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: rgb(2, 37, 154);
  padding: 15px;
  border-radius: 25px;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.519);
}

.profile:hover{
  transform: scale(1.05);
}

.note-section{
  border-radius: 30px;
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
  top: 80px;
  display: flex;
}

.new-note-btn{
  background-color: rgb(2, 37, 154);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  justify-self: center;
  margin-top: 5px;
  border: none;
  align-self: center;
}

.new-note-btn:hover{
  transform: scale(1.1);
}

.all-notes{
  position: absolute;
  left: 10px;
  right: 61%;
  bottom: 15px;
  top: 25px;
  background-color: aliceblue;
  border-radius: 40px;
  box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.079);
  display: flex;
  flex-direction: column;
}

#all-notes-lbl{
  position: absolute;
  left: 17%;
  right: 60%;
  bottom: 5px;
  top: 0px;
  padding-block: 3px;
}

.note-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.note-list li{
}

.note-list ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.note-as-li{
  display: flex;
  background-color:rgba(11, 97, 167, 0.113);
  border-radius: 10px;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-inline: 10px;
  margin-inline: auto;
  justify-content: space-between;
  margin-block: 10px;
  position: relative;
}

.note-content{


}
.note-as-li-btns button{
  border: none;
  color: rgb(43, 86, 226);
  margin-inline: 2px;
}

.note-as-li-btns button:hover{
  transform: scale(1.1);
}

.del-li-note:hover{
  color: red;
}

.date-created{
  position: absolute;
  font-family: monospace;
  bottom: 2px;
  color: rgba(0, 0, 0, 0.312);
}

.note-display{
  position: absolute;
  right: 15px;
  bottom: 15px;
  border-radius: 40px;
  top: 25px;
  width: 54vw;
  background-color: rgba(4, 48, 192, 0.513);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.164);
  display: flex;
  align-items: center;
  justify-content: center;
}

#note-display-lbl{
  position: absolute;
  right: 23%;
  bottom: 5px;
  top: 0px;
  padding-block: 3px;
}

.note{
  height: 95%;
  width: 95%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.note-options{
  display: flex;
  align-self: last baseline;
  padding-block: 10px;
  padding-right: 35px;
}

.note-options button{
  font-size: 1.1rem;
  font-weight: bold;
  margin-inline: 5px;
  border-radius: 5px;
  border: none;
}

.note-options button:hover{
  transform: scale(1.05);
}

.text-area{
  height: 82%;
  width: 90%;
  margin-inline: auto;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  font-family:monospace;
  padding-inline: 15px;
  padding-block: 15px;
}
